*{
    padding: 0;
    margin: 0;
    font-family: futura PT;
    box-sizing: border-box;
    transition: all 1.5s ease;

}
.ab{
    color: black;

}

.img{
    background-image: url(https://res.cloudinary.com/devmclblo/image/upload/v1711478198/logo_hruthik_sai_bg.png);
    width: 140px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-blend-mode:color-burn ; */
    /* background-color: white; */
}
.con{
    display: flex;
    justify-content: space-between;
    background-color: #dad7cd;
    width: auto;
}
.menu{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 2;
    transition: all 1s ease ;
}
.menu:hover{
    transform: skew(45deg);
}


video{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* @media screen and (max-width:1000px) {
    .both{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        
    } 
    
} */
.both{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin: 10px 5px;
    
}
.both-contain{
    /* max-width: 90%; */
    width: 90%;
    margin: auto;
    /* padding: 0px 60px; */
    text-align: center;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.both-contain span{
    font-size: 1.3rem;
    font-weight: bold;
    color: #3F2537;
    margin-bottom: 1.5rem;
    border-bottom: 1px dashed #3F2537;
    
}
.btn{
    font-size: 0.8rem;
    margin: 15px 0px;
    padding: 8px 24px;
    border-radius: 100px;
    color: #512869;
    background-color: #F4F5F0;
    border-color: #512869;
    letter-spacing: 1px;
}
.btn:hover{
    background-color: #512869;
    color:#F4F5F0 ;
}
img:hover{
    transform: scale(0.75);
    border-radius: 80px;
}

.para{
    line-height: 1.3;
    color: #3F2537;
    margin-top: 0.8rem;
    /* padding: 10px 60px; */

}


.both-img{
    /* width: 50%; */

    display: flex;
    justify-content:center;
    align-items: center;
  
}
.both-img img{
    width: 70%;
    
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all 2s ease-in;
}

footer{
    background-color: #3F2537;
    text-align: center;
    margin: 5px 0px;
    
}
footer p{
    line-height: 60px;
    color: #F4F5F0;
}



@media (max-width:1001px) {
    /* For mobile phones: */
    .img {
        background-image: url(https://res.cloudinary.com/devmclblo/image/upload/v1711478198/logo_hruthik_sai_bg.png);
        width: 100px;
        height: 40px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        /* background-blend-mode: color-burn; */
        /* background-color: white; */
    }
    .menu {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* zoom: 2; */
        /* font-size: 1.5rem; */
        transition: all 1s ease;
    }
    video{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .both{
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        
    } 
    .both-contain {
        /* max-width: 90%; */
        width: 70%;
        margin: auto;
        /* padding: 0px 60px; */
        text-align: center;
        padding-top: 1rem;
    }
    .both-img {
        /* width: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .both-img img {
        width: 40%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: all 2s ease-in;
    }
    .img2{
        display: none;
    }
    .btn {
        font-size: 0.7rem;
        margin: 16px 0px;
        padding: 6px 20px;
        border-radius: 100px;
        color: #512869;
        background-color: #F4F5F0;
        border-color: #512869;
        /* letter-spacing: 1px; */
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* margin: 0px 20%; */
        width: 100%;
        align-items: center;
    }
    ul {
        margin: 15px 0px;
        width: 80%;
        justify-content: space-between;
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
        list-style: none;
        text-align: center;
    }
    li {
        /* display: flex; */
        /* margin: 1rem .9375rem; */
        /* padding: 0.5rem 1.5rem 0.5rem 1.5rem; */
        font-size: .9rem;
        /* transition: all 2s ease-in 0.2s; */
        font-weight: bold;
    }
  }
  @media (max-width: 426px) {

    .both-img img {
        width: 70%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        transition: all 2s ease-in;
    }

    ul {
        margin: 0px 0px;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
        /* flex-wrap: wrap; */
        /* justify-content: space-evenly; */
        list-style: none;
        text-align: center;
    }
    li {
        /* display: flex; */
        /* margin: 1rem .9375rem; */
        /* padding: 0.5rem 1.5rem 0.5rem 1.5rem; */
        font-size: .9rem;
        padding-bottom: 5px;
        /* transition: all 2s ease-in 0.2s; */
        font-weight: bold;
    }
    video{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

/* breakfast section */

.card-img-top{
    height: 100px;
    width: 165px;
    border-radius: 5px;
    /* margin-top: 10px; */
    /* height: 200px; */
}
.card{
    width: 230px;
    text-align: center;
    box-shadow: 5px 5px #dad7cd;
    border-radius: 20px;
    margin: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* padding: 30px; */
    /* grid-column: 1 / 3; */
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0px 5px;
    height: 150px;
    /* margin: 5px 0px;
    /* margin: 5px 0px; */
}

/* .btn-primary{
    position: relative;
    bottom: 10px;
} */
#BREAKFAST{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px; */
    /* padding: 50px 100px; */
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
.price{
    margin-top: 5px;
}
/* lunch section */
#LUNCH{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#lunch1{
    margin-bottom: 10px;
}
#lunch1,#lunch2{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.green{
    /* color:#588157 ; */

    color: #512869;
    background-color: #F4F5F0;
    border-radius: 76px;
    border: solid 1px #512869;
    font-size: 1.5rem;
    /* margin: 16px 0px; */
    padding: 6px 20px;
    border-radius: 100px;
    color: #512869;
    background-color: #F4F5F0;
    border-color: #512869;
}


/* dinner section */

#DINNER{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
}
#dinner1{
    margin-bottom: 10px;
}
#dinner1,#dinner2{
    display: flex;
    
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* desserts section */

#DESSERT{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* COCKTAIL */

#COCKTAIL{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .main-video{
    width: 100vw;
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;
} */